{% extends "base.html" %}

{% block content %}
<div class="postColor">
<div class="contOfReg">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.abtGame(class="form-control text-center h-2", placeholder="დაპოსტეთ ინფორმაცია რომელიმე თამაშზე") }}<br>
            {{ form.email(class="userClass", placeholder="შეიყვანეთ იმეილი") }}<br><br>
            {{ form.save(class=("userClass bg-dark")) }}
        </div>
    </form>
</div>
</div>
{% endblock %}
