{% extends "base.html" %}
{% block content %}
<div id="games-bg"></div>
{% for game in games %}
    <div class="card-container col">
        <div class="card" style="width: 18rem;">
            <img src="{{ game['image'] }}" class="card-img-top" alt="nn">
            <div class="card-body">
              <h5 class="card-title">{{ game['Name'] }}</h5>
              <p class="card-text">{{ game['Price'] }}</p>
              <a href="/game/{{game['id']}}" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
