{% extends "base.html" %}

{% block content %}

    {% for post in posts %}
    <div class="postColor h-full">
<div class="contOfReg">
    <div class="postContainer">
<div class="post_head text-white">
    {% if current_user.role == "admin" %}
    <a class="btn btn-danger" href="/delete/{{ post.id }}">🗑️</a>
    <a href="/edit_user/{{ post.id }}" class="btn btn-info">🖊️</a>
    {% endif %}
    <p class="Input-text">{{ post.email }}</p> 
    
    </div>
    <div class="post_body text-white  ">
    <p class="Input-text">{{ post.abtGame }}</p> <hr>
    <div class="w-full">
</div>
</div>
</div> <br>
</div>
</div>
    {% endfor %}

{% endblock %}
